@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Overpass:wght@300;400;600;700&display=swap');
@layer utilities {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
